<div class="card mt-4">
    <div style="display:flex; justify-content: space-between; margin: 5px;">
      <h1 class="mat-title"><span matBadge={{contracts?.length}} matBadgeOverlap="false">Contracts</span></h1>
        <button mat-raised-button (click)="redirectToContractCreate()" color="accent" *ngIf="+currentUser.user_data.role_id == roles.procurement">Create Contract</button>
    </div>
    <table mat-table [dataSource]="contracts" class="mat-elevation-z8" color="basic">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- contract no Column -->
        <ng-container matColumnDef="contract_no">
          <th mat-header-cell *matHeaderCellDef> Contract No. </th>
          <td mat-cell *matCellDef="let element"> {{element.contract_no}} </td>
        </ng-container>
      
        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- purchaser Column -->
        <ng-container matColumnDef="purchaser">
          <th mat-header-cell *matHeaderCellDef> Purchaser </th>
          <td mat-cell *matCellDef="let element"> {{element.purchaser}} </td>
        </ng-container>
      
        <!-- supplier Column -->
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef> Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
        </ng-container>

        <!-- created at Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Date Created </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
        </ng-container>

         <!-- contract stage Column -->
         <ng-container matColumnDef="contract_stage">
          <th mat-header-cell *matHeaderCellDef color="primary"> Contract Stage</th>
          <td mat-cell *matCellDef="let element"> {{element?.contract_stage?.contract_stage}} </td>
        </ng-container>

        <!-- contract status Column -->
        <ng-container matColumnDef="contract_status">
          <th mat-header-cell *matHeaderCellDef color="primary"> Contract Status</th>
          <td mat-cell *matCellDef="let element"> {{element?.contract_status?.status}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
            <span *ngIf="+currentUser.user_data.role_id == roles.procurement"><a mat-button (click)="redirectToAddContractProducts(element)" color="primary">Products</a> | </span> 
            <span *ngIf="+currentUser.user_data.role_id == roles.legal"><a mat-button (click)="redirectToAddContractClauses(element)" color="primary">Clauses</a> | </span>
            <span><a mat-button (click)="redirectToPreviewContract(element)" color="primary">View</a> | </span>  
            <span *ngIf="+currentUser.user_data.role_id !== roles.ceo"><a mat-button (click)="fowardContract(element)" color="primary"> Foward</a> | </span> 
            <span *ngIf="+currentUser.user_data.role_id !== roles.procurement && +currentUser.user_data.role_id !== roles.ceo"><a mat-button (click)="revertContract(element)" color="primary"> Revert</a></span>  
            </td>
      </ng-container>
      
        <tr 
          mat-header-row 
          *matHeaderRowDef="displayedColumns"></tr>
        <tr 
          mat-row 
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>      
</div>