<h1>Dashboard</h1>
<div class="card mt-4">
    <div style="display:flex; justify-content: space-between; margin: 5px;">
        <h4 class="card-header">Available Contracts:</h4>
        <button mat-raised-button (click)="redirectToContractCreate()" color="accent" *ngIf="+currentUser.user_data.role_id == 1">Create Contract</button>
    </div>
    <table mat-table [dataSource]="contracts" class="mat-elevation-z8" color="basic">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- contract no Column -->
        <ng-container matColumnDef="contract_no">
          <th mat-header-cell *matHeaderCellDef> Contract No. </th>
          <td mat-cell *matCellDef="let element"> {{element.contract_no}} </td>
        </ng-container>
      
        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- purchaser Column -->
        <ng-container matColumnDef="purchaser">
          <th mat-header-cell *matHeaderCellDef> Purchaser </th>
          <td mat-cell *matCellDef="let element"> {{element.purchaser}} </td>
        </ng-container>
      
        <!-- supplier Column -->
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef> Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
        </ng-container>

        <!-- created at Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Date Created </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
            <a mat-button (click)="redirectToAddContractProducts(element)" color="primary">Add Products</a> | 
            <!-- <a mat-button (click)="redirectToAddContractClauses()" color="primary">Add Clauses</a>   -->
            <a mat-button (click)="redirectToPreviewContract(element)" color="primary">Preview Contract</a>  
            </td>
      </ng-container>
      
        <tr 
          mat-header-row 
          *matHeaderRowDef="displayedColumns"></tr>
        <tr 
          mat-row 
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>      
</div>