<div style="display:flex; justify-content: space-between; margin: 5px;">
    <h4 class="card-header">Contract Preview</h4>
    <div>
        <button 
            mat-raised-button 
            (click)="generatePreviewDoc()" 
            color="accent" 
            style="margin-right: 10px;">
            DELETE CONTRACT
        </button>
        <button 
            mat-raised-button 
            (click)="generatePreviewDoc()" 
            color="accent" 
            style="margin-right: 10px;">
            FOWARD CONTRACT
        </button>
        <button mat-raised-button (click)="generatePreviewDoc()" color="accent">
            Download Preview
        </button>
    </div>
</div>

<!-- <img [src]="previewImgUrl" alt="contract preview"/> -->

<table style="width: 80%; margin-left: 40px; margin-right: 40px;">
    <tr>
        <td><h1>CONTRACT NO. {{contract.contract_no}} – {{contract.title}}</h1></td>
    </tr>
    <tr>
        <td><p>THIS CONTRACT AGREEMENT is made on {{contract.created_at}}. </p></td>
    </tr>
    <tr>
        <td><p>BETWEEN</p></td>
    </tr>
    <tr>
        <td><p>{{contract.contract_entity_purchaser.entity_name}}, {{contract.contract_entity_purchaser.description}}  (hereinafter called “the Purchaser”), </p></td>
    </tr>
    <tr>
        <td><p>AND</p></td>
    </tr>
    <tr>
        <td><p>{{contract.contract_entity_supplier.entity_name}}, {{contract.contract_entity_supplier.description}} (hereinafter called “the Supplier’’).
        </p></td>
    </tr>
    <tr>
        <td>
            <div [innerHTML]="contract_clauses?.clause_body"></div>
        </td>
    </tr>
</table>
