<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        <div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>fact_check</mat-icon>
            </button>
            <span>Contract Approval</span>
        </div>
        <span class="my-spacer"></span>
        <div *ngIf="!currentUser">
            <button (click)="redirectLoginPage()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Login
            </button>
        </div>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="currentUser">
            <span>{{this.currentUser?.user_data?.email}} | {{this.currentUser?.user_data?.role_name | uppercase}}</span>
            <span class="my-spacer"></span>
            <div style="display: flex; padding: 5px; justify-content: space-between;" fxFlex fxLayout   fxHide.xs>
                <button [routerLink]="['/dashboard']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Dashboard
                </button>
                <span style="padding: 25px;"></span>
                <button [routerLink]="['/contracts']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Contracts
                </button>
                <span style="padding: 25px;"></span>
                <button [routerLink]="['/tenders']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Tenders
                </button>
                <span style="padding: 25px;"></span>
                <button [routerLink]="['/entity']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Entity
                </button>
                <span style="padding: 25px;"></span>
                <button (click)="logoutUser()" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Logout
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">

        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
          <div fxLayout="column"  *ngIf="currentUser">
            <button [routerLink]="['/dashboard']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Dashboard
            </button>
            <button [routerLink]="['/contracts']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Contracts
            </button>
            <button [routerLink]="['/tenders']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Tenders
            </button>
            <button [routerLink]="['/entity']" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Entity
            </button>
            <button (click)="logoutUser()" style="margin: 3px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Logout
            </button>
            <div *ngIf="!currentUser">
                <button (click)="redirectLoginPage()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Login
                </button>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </p>
