<mat-card>
    <mat-card-content>
      <form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
        <h2>Create Entity</h2>
        <mat-error *ngIf="entityInvalid">
          Issue creating entity
        </mat-error>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Entity Name" formControlName="entity_name" required>
            <mat-error>
              Please provide a valid entity name
            </mat-error>
          </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Tender Description" formControlName="description" required>
          <mat-error>
            Please provide a valid Description
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent">Create Entity</button>
      </form>
    </mat-card-content>
  </mat-card>
